In [1]:
import numpy as np 
import pandas as pd

In [6]:
data = pd.read_csv("alkoholilupa_toimipaikkatiedot_ABC.csv", sep=";", encoding="iso-8859-15")
data.head()

,NIMI,OSOITE,POSTINUMERO,POSTITOIMIPAIKKA,KUNTA,LUVANALKUPVM,LUPATYYPPI,Y-TUNNUS
0,K-market Seppäläntie,Seppäläntie 19,7900,Loviisa,Loviisa,29.07.2018,Vähittäismyyntilupa/max. 5.5 %,2480964-8
1,Lucky Palace,Porttisuontie 4,1200,Vantaa,Vantaa,01.04.2018,"Anniskelu A, kaikki alkoholijuomat",2638947-2
2,Better We Do It Slow Food,Kirkkotie 6,21420,Lieto,Lieto,25.04.2018,"Anniskelu A, kaikki alkoholijuomat",1704082-6
3,Bodegan Käringsunds Gästhamn,", Gamla Käringsundsvägen",22270,Eckerö,Eckerö,31.03.2021,"Anniskelu A, kaikki alkoholijuomat",2104560-3
4,Kauppala,Hollikankaantie 149 A 3,42910,Pihlajavesi,Keuruu,30.04.2013,Vähittäismyyntilupa/max. 5.5 %,2520002-5

In [9]:
data.to_csv(path_or_buf="alkoholilupa_toimipaikkatiedot_ABC_utf8.csv", encoding="utf-8", index=False)

In [10]:
data.describe()

        POSTINUMERO
count  14991.000000
mean   37420.968514
std    31868.099212
min       99.000000
25%     5815.000000
50%    33100.000000
75%    63320.000000
max    99990.000000

In [14]:
data.groupby(by=["KUNTA"]).count()

,NIMI,OSOITE,POSTINUMERO,POSTITOIMIPAIKKA,LUVANALKUPVM,LUPATYYPPI,Y-TUNNUS
KUNTA,,,,,,,
Akaa,29,29,29,29,29,29,26
Alajärvi,28,28,28,28,28,28,20
Alavieska,4,4,4,4,4,4,2
Alavus,28,28,28,28,28,28,23
Asikkala,37,37,37,37,37,37,31
...,...,...,...,...,...,...,...
Ylivieska,28,28,28,28,28,28,25
Ylöjärvi,54,54,54,54,54,54,45
Ypäjä,13,13,13,13,13,13,10
Ähtäri,22,22,22,22,22,22,19
Äänekoski,50,50,50,50,50,50,39